<% comments.each do |comment| %>
<% user=comment.user %>
<h4>
<%= link_to user_path(user) do %>

    <% if user.image? %>
      <%= image_tag user.image.thumb, :class => "thum-media-comment" %>
    <% else %>
      <%= image_tag ("default1.jpg"), :class => "thum-media-comment" %>
    <% end %>
    <%= user.name %>
<% end %>
<br>

<%= comment.content %>
</h4>
<% end %>
