<ul class="media-list">
  <% works.each do |work| %>
    <% user = work.user %>
    <!--<div class="row">-->
      <div class="col-lg-4 col-md-4">
        <li class="media">
          <div class="center jumbotron">
            <!--<div class="media-left">-->
            <!--  <%= link_to user_path(user) do %>-->
            <!--    <p>-->
            <!--      <% if user.image? %>-->
                    <!--<div class="thumbnail">-->
            <!--          <%= image_tag user.image.thumb, :class => "thum" %>-->
                    <!--</div>-->
            <!--      <% else %>-->
            <!--        <img class="media-object img-circle img-responsive" src="<%= gravatar_url(user, { size: 500 }) %>" alt="">-->
            <!--      <% end %>-->
            <!--    </p>-->
            <!--    <%= user.name %>-->
            <!--  <% end %>-->
            <!--</div>-->
            <div class="media-body">
              <%= link_to work_path(work) do %>
              <!--<div>-->
              <!--  <%= work.work_path %>-->
              <!--</div>-->
              <p>
                <% if work.image? %>
                  <div class="thumbnail">
                    <%= image_tag work.image.thumb %>
                  </div>
                <% end %>
              </p>
              <div>
                <p><%= work.title %></p>
              </div>
              <!--<div class="caption">-->
              <!--  <%=work.caption %>-->
              <!--</div>-->
              <% end %>
              <div>
                <% if current_user == work.user %>
                  <%= link_to "削除", work, method: :delete, data: { confirm: "本当によろしいですか?" }, class: "btn btn-danger" %>
                  <br>
                  <%= render "favorites/favorite_button", work: work %>
                <% end %>
                <!--<% unless current_page?(user_path(user)) %>-->
                <!--  <%= render "relationships/follow_button", user: user %>-->
                <!--<% end %>-->
              </div>
            </div>
          </div>
        </li>
      </div>
    <!--</div>-->
  <% end %>
  <%= paginate works %>
</ul>


