<ul class="media-list">
  <% works.each do |work| %>
    <% user = work.user %>
    <!--<div class="row">-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <li class="media">
          <div>
             <!-- class="center jumbotron" -->
            <!--<div class="media-left">-->
            <!--  <%= link_to user_path(user) do %>-->
            <!--    <p>-->
            <!--      <% if user.image? %>-->
                    <!--<div class="thumbnail">-->
            <!--          <%= image_tag user.image.thumb, :class => "thum" %>-->
                    <!--</div>-->
            <!--      <% else %>-->
            <!--        <img class="media-object img-circle img-responsive" src="<%= gravatar_url(user, { size: 500 }) %>" alt="">-->
            <!--      <% end %>-->
            <!--    </p>-->
            <!--    <%= user.name %>-->
            <!--  <% end %>-->
            <!--</div>-->
            <div class="media-body">
              <!--<div>-->
              <!--  <%= work.work_path %>-->
              <!--</div>-->
              <p>
                <% if work.image? %>
                  <div class="thumbnail">
                    <%= link_to work_path(work) do %>
                      <%= image_tag work.image.thumb %>
                      <div class="work-title">
                        <% if work.title[0, 1].encode("utf-8").bytesize == 1 %>
                          <% if work.title.length <= 15 %>
                            <p><%= work.title %></p>
                          <% else %>
                            <% work_title = work.title[0, 12] + "..." %>
                            <p><%= work_title %></p>
                          <% end %>
                        <% else %>
                          <% if work.title.encode("utf-8").bytesize <= 21 %>
                            <p><%= work.title %></p>
                          <% else %>
                            <% work_title = work.title[0, 5] + "..." %>
                            <p><%= work_title %></p>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <div>
                      <%= render "favorites/favorite_button", work: work %>
                    </div>
                  </div>
                <% else %>
                  <div class="thumbnail">
                    <%= link_to work_path(work) do %>
                      <%= image_tag ("default.jpg") %>
                      <div class="work-title">
                        <% if work.title[0, 1].encode("utf-8").bytesize == 1 %>
                          <% if work.title.length <= 15 %>
                            <p><%= work.title %></p>
                          <% else %>
                            <% work_title = work.title[0, 12] + "..." %>
                            <p><%= work_title %></p>
                          <% end %>
                        <% else %>
                          <% if work.title.encode("utf-8").bytesize <= 21 %>
                            <p><%= work.title %></p>
                          <% else %>
                            <% work_title = work.title[0, 5] + "..." %>
                            <p><%= work_title %></p>
                          <% end %>
                        <% end %>
                      </div>
                    <% end %>
                    <div>
                      <%= render "favorites/favorite_button", work: work %>
                    </div>
                  </div>
                <% end %>
              </p>
            </div>
          </div>
        </li>
      </div>
    <!--</div>-->
  <% end %>
  <%= paginate works %>
</ul>
