<ul class="media-list">
  <% users.each do |user| %>
    <% work = user.works.last %>
    <!--<div class="row">-->
      <div class="col-lg-6 col-md-6">
        <li class="media">
          <div class="center jumbotron">
            <div class="media-left thum-media-left">
              <%= link_to user_path(user) do %>
                <p>
                  <% if user.image? %>
                    <!--<div class="thumbnail">-->
                      <%= image_tag user.image.thumb, :class => "thum-media-profile" %>
                    <!--</div>-->
                  <% else %>
                    <%= image_tag ("default.jpg"), :class => "thum-media-profile" %>
                  <% end %>
                </p>
                <%= user.name %>
              <% end %>
            </div>
            <div class="media-body">
              <% if work.present? %>
              <%= link_to work_path(work) do %>
                <!--<div>-->
                <!--  <%= work.work_path %>-->
                <!--</div>-->
                <p>
                  <% if work.image? %>
                    <div class="thumbnail">
                      <%= image_tag work.image.thumb %>
                    </div>
                  <% else %>
                    <div class="thumbnail">
                      <%= image_tag ("default.jpg") %>
                    </div>
                  <% end %>
                </p>
                <div>
                  <p><%= work.title %></p>
                </div>
                <!--<div class="caption">-->
                <!--  <%=work.caption %>-->
                <!--</div>-->
              <% end %>
              <% else %>
                <div class="thumbnail">
                  <%= image_tag ("default.jpg") %>
                </div>
                <p>制作物がまだ投稿されていません</p>
                <br></br>
              <% end %>
              <div>
                <% if work.present? %>
                  <%= render "favorites/favorite_button", work: work %>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      </div>
    <!--</div>-->
    <!--<% work = "" %>-->
  <% end %>
  <%= paginate users %>
</ul>
