<ul class="media-list">
  <% works.each do |work| %>
    <% user = work.user %>
    <!--<div class="row">-->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <li class="media">
          <div class="ai">
          <div class="center jumbotron">
            <!-- <div class=" class="media-left thum-media-left""> -->
            <div class="user-image">
              <%= link_to user_path(user) do %>
                  <% if user.image? %>
                    <!--<div class="thumbnail">-->
                      <%= image_tag user.image.thumb, :class => "thum-media-profile" %>
                    <!--</div>-->
                  <% else %>
                    <%= image_tag ("default.png"), :class => "thum-media-profile" %>
                    <!--<img class="media-object img-circle" src="<%= gravatar_url(user, { size: 300 }) %>" alt="">-->
                  <% end %>
                <p class="user-name"><%= user.name %></p>
              <% end %>
            </div>
            <div class="media-body media-body-right">
              <%= link_to work_path(work) do %>
              <!--<div>-->
              <!--  <%= work.work_path %>-->
              <!--</div>-->
              <p class="work-image">
                <% if work.image? %>
                  <div class="thumbnail">
                    <%= image_tag work.image.thumb %>
                  </div>
                <% else %>
                    <!--<img src="/public/images/no_img.png">-->
                  <div class="thumbnail">
                    <%= image_tag ("default.png") %>
                  </div>
                <% end %>
              </p>
              <div class="work-title">
                <% if work.title[0, 1].encode("utf-8").bytesize == 1 %>
                  <% if work.title.length <= 15 %>
                    <p><%= work.title %></p>
                  <% else %>
                    <% work_title = work.title[0, 12] + "..." %>
                    <p><%= work_title %></p>
                  <% end %>
                <% else %>
                  <% if work.title.encode("utf-8").bytesize <= 21 %>
                    <p><%= work.title %></p>
                  <% else %>
                    <% work_title = work.title[0, 5] + "..." %>
                    <p><%= work_title %></p>
                  <% end %>
                <% end %>
              </div>
              <!--<div class="caption">-->
              <!--  <%=work.caption %>-->
              <!--</div>-->
              <% end %>
              <div class="favorite-button">
                <!-- <% if work.present? %> -->
                  <!-- <% if current_user == work.user %>
                    <%= link_to "削除", work, method: :delete, data: { confirm: "本当によろしいですか?" }, class: "btn btn-danger" %>
                    <br>
                  <% else %>
                    <%= render "relationships/follow_button", user: user %>
                  <% end %>
                  <br> -->
                  <%= render "favorites/favorite_button", work: work %>
                <!-- <% else %> -->
                  <!-- <%= render "relationships/follow_button", user: user %> -->
                <!-- <% end %> -->
              </div>
            </div>
          </div>
          </div>
        </li>
      </div>
    <!--</div>-->
  <% end %>
  <%= paginate works %>
</ul>
