<h3><%= @user.name %>のFavorites</h3>
<% if @favorite_works.present? %>
  <%= render 'works/works', works: @favorite_works %>
<% else %>
  <h3>お気に入りなし</h3>
<% end %>


<div class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>Works <span class="badge"><%= @count_works %></span><% end %></div>
<div class="<%= 'active' if current_page?(followings_user_path(@user)) %>"><%= link_to followings_user_path(@user) do %>Followings <span class="badge"><%= @count_followings %></span><% end %></div>
<div class="<%= 'active' if current_page?(followers_user_path(@user)) %>"><%= link_to followers_user_path(@user) do %>Followers <span class="badge"><%= @count_followers %></span><% end %></div>
<div class="<%= 'active' if current_page?(favorite_works_user_path(@user)) %>"><%= link_to favorite_works_user_path(@user) do %>Favorites <span class="badge"><%= @count_favorite_works %></span><% end %></div>