<!--<div class="row">-->
<!--  <div class= "col-lg-6 col-md-6 col-sm-6">-->
<!--    <div class="center jumbotron">-->
<!--      <div class="text-center">-->
<!--        <h1>Welcome to the Chillusion</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-lg-6 col-md-6 col-sm-6">-->
<!--    <div class="center jumbotron">-->
<!--      <div class="text-center">-->
<!--        <h2>Sign up</h2>-->
<!--      </div>-->
      
<!--      <div class="col-lg-6 col-md-6 col-sm-6">-->
<!--      <%= form_for(@user) do |f| %>-->
<!--        <div class="form-group">-->
<!--          <%= f.label :name, "Name" %>-->
<!--          <%= f.text_field :name, class: "form-controll" %>-->
<!--        </div>-->
        
<!--        <div class="form-group">-->
<!--          <%= f.label :email, "Email" %>-->
<!--          <%= f.email_field :email, class: "form-controll" %>-->
<!--        </div>-->
        
<!--        <div class="form-group">-->
<!--          <%= f.label :password, "Password" %>-->
<!--          <%= f.password_field :password, class: "form-controll" %>-->
<!--        </div>-->
        
<!--        <div class="form-group">-->
<!--          <%= f.label :password_confirmation, "Confirmation" %>-->
<!--          <%= f.password_field :password_confirmation, class: "form-controll" %>-->
<!--        </div>-->
        
        
<!--        <%= f.submit "Sign up", class: "btn btn-primary" %>-->
<!--      <% end %>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<% if logged_in? %>
  <div class="row">
    <aside class="col-lg-6 col-md-6">
      <div class="center jumbotron">
        <%= form_for(@work) do |f| %>
          <!--<div class="form-group">-->
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: "form-control"%>
          <!--</div>-->
          <!--<div class="form-group">-->
          <!--  <%= f.label :work_path, "work" %>-->
          <!--  <%= f.text_field :work_path, class: "form-control" %>-->
          <!--</div>-->
          <div class="field">
            <% if @work.image? %>
              <div class="thumbnail">
                <%= image_tag @work.image.url %>
              </div>
            <% end %><br>
            <%= f.label :image, "画像" %><br>
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </div>
          <div class="field">
            <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
            <% if @work.persisted? && @work.image? %>
              <label>
                <%= f.check_box :remove_image %>
                画像を削除
              </label>
            <% end %>
          </div>
          
          <div class="field">
            <% if @work.audio? %>
              <div class="thumbnail">
                <%= audio_tag @work.audio.url %>
              </div>
            <% end %>
            <%= f.label :audio, "音楽" %><br>
            <%= f.file_field :audio %>
            <%= f.hidden_field :audio_cache %>
          </div>
          <div class="field">
            <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
            <% if @work.persisted? && @work.audio? %>
              <label>
                <%= f.check_box :remove_audio %>
                音楽を削除
              </label>
            <% end %>
          </div>
          
          <div class="field">
            <% if @work.video? %>
              <div class="thumbnail">
                <%= video_tag @work.video.url %>
              </div>
            <% end %>
            <%= f.label :video, "映像" %><br>
            <%= f.file_field :video %>
            <%= f.hidden_field :video_cache %>
          </div>
          <div class="field">
            <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
            <% if @work.persisted? && @work.video? %>
              <label>
                <%= f.check_box :remove_video %>
                映像を削除
              </label>
            <% end %>
          </div>
          
          <br>
          <div class="form-group">
            <%= f.label :caption, "キャプション" %>
            <%= f.text_area :caption, class: "form-control", rows: 3 %>
          </div>
          <%= f.submit "投稿", class:"btn btn-primary" %>
        <% end %>
      </div>
    </aside>
    <div>
      <%= render "users/users_signup", works: @works %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <br><h2>私とあなたであそぼう</h2><br>
      <h4>”遊び“を決めるのは監督の大人で</h4>
      <h4>しかもその”遊び“ときたら何か役に立つことを</h4>
      <h4>覚えさせるためのものばかり。</h4>
      <h4>こうして子どもたちは</h4>
      <h4>”あそび“を忘れてゆきました。</h4>
      <h4>Chillusionは創作（”あそび“）とそれに伴う交流の場です。</h4>
      <h4>競争ではなく、まったりあそぼう</h4>
    </div>
  
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="text-center">
        <br><h2>Sign up</h2>
      </div>
      <%= form_for(@user) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
        <div class="form-group">
          <!--<%= f.label :name, 'Name' %>-->
          <%= f.text_field :name, class: 'form-control', placeholder: "ユーザーネーム" %>
        </div>

        <div class="form-group">
          <!--<%= f.label :email, 'Email' %>-->
          <%= f.email_field :email, class: 'form-control', placeholder: "メールアドレス" %>
        </div>

        <div class="form-group">
          <!--<%= f.label :password, 'Password' %>-->
          <%= f.password_field :password, class: 'form-control', placeholder: "パスワード" %>
        </div>

        <div class="form-group">
          <!--<%= f.label :password_confirmation, 'Confirmation' %>-->
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "パスワード確認用" %>
        </div>

        <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
<% end %>



