<% if logged_in? %>
  <div class="row">
    <aside class="col-lg-6 col-md-6">
      <div class="ai">
      <div class="center jumbotron">
        <%= form_for(@work) do |f| %>
            <%= f.label :title, "タイトル" %>
            <%= f.text_field :title, class: "form-control"%>
          <!--</div>-->
          <!--<div class="form-group">-->
          <!--  <%= f.label :work_path, "work" %>-->
          <!--  <%= f.text_field :work_path, class: "form-control" %>-->
          <!--</div>-->
          <div class="field">
            <% if @work.image? %>
              <div class="thumbnail">
                <%= image_tag @work.image.url %>
              </div>
            <% end %><br>
            <%= f.label :image, "画像" %><br>
            <%= f.file_field :image %>
            <%= f.hidden_field :image_cache %>
          </div>
          <div class="field">
            <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
            <% if @work.persisted? && @work.image? %>
              <label>
                <%= f.check_box :remove_image %>
                画像を削除
              </label>
            <% end %>
          </div>

          <div class="field">
            <% if @work.audio? %>
              <div class="thumbnail">
                <%= audio_tag @work.audio.url %>
              </div>
            <% end %>
            <%= f.label :audio, "音楽" %><br>
            <%= f.file_field :audio %>
            <%= f.hidden_field :audio_cache %>
          </div>
          <div class="field">
            <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
            <% if @work.persisted? && @work.audio? %>
              <label>
                <%= f.check_box :remove_audio %>
                音楽を削除
              </label>
            <% end %>
          </div>

          <div class="field">
            <% if @work.video? %>
              <div class="thumbnail">
                <%= video_tag @work.video.url %>
              </div>
            <% end %>
            <%= f.label :video, "映像" %><br>
            <%= f.file_field :video %>
            <%= f.hidden_field :video_cache %>
          </div>
          <div class="field">
            <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
            <% if @work.persisted? && @work.video? %>
              <label>
                <%= f.check_box :remove_video %>
                映像を削除
              </label>
            <% end %>
          </div>

          <br>
          <div class="form-group">
            <%= f.label :caption, "説明、材料等" %>
            <%= f.text_area :caption, class: "form-control", rows: 3 %>
          </div>
          <%= f.submit "投稿", class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
    </aside>
    <div>
      <%= render "users/users_signup", works: @works %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <br></br>
      <h3>Chillusionは創作とそれに伴う交流の場です。</h3>
      <h4>作った制作物をみんなと共有しよう。</h4>
      <h4>画像も音楽も動画も載せれるので、
          他分野の人との制作物を通しての交流の場として利用できます。
      </h4>
      <h4>お気に入りの制作物にchill(チル)しよう。</h4>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="text-center">
        <br><h2>Sign up</h2>
      </div>
      <%= form_for(@user) do |f| %>
        <%= render "layouts/error_messages", model: f.object %>
        <div class="form-group">
          <!--<%= f.label :name, 'Name' %>-->
          <%= f.text_field :name, class: 'form-control', placeholder: "name" %>
        </div>

        <div class="form-group">
          <!--<%= f.label :email, 'Email' %>-->
          <%= f.email_field :email, class: 'form-control', placeholder: "email" %>
        </div>

        <div class="form-group">
          <!--<%= f.label :password, 'Password' %>-->
          <%= f.password_field :password, class: 'form-control', placeholder: "password" %>
        </div>

        <div class="form-group">
          <!--<%= f.label :password_confirmation, 'Confirmation' %>-->
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "password-confirmation" %>
        </div>

        <%= f.submit 'sign up', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
<% end %>
